*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
    display: flex;
    flex-direction: column;
    background-color: #F6FAF0;
}
.bg-light-green{
    background-color: #B8C6B8;
}
.bg-dark-green{
    background-color: #022C0F;
}
.screen {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}
.max-w-fit{
    max-width: fit-content;
}
.gap{
    display: flex;
    gap: 3rem;
}
.header_height{
    height: 6rem;
}
.nav_height{
    height:3rem;
}
.line_length{
    max-width: 80ch;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hassu-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2;
}

@media (max-width: 768px) {
    .hassu-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

.hassu-grid>*{
    padding: 2rem;
}

.hassu-grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3rem;
}
@media (max-width: 768px) {
    .hassu-grid2{
        grid-template-columns: repeat(2,1fr);
    }
}
.span-full{
    grid-column: 1 / -1;
}

.two-times-two{
    grid-column: 1/3;
    grid-row: 1 / 3;
}
.aspect-ratio{
    aspect-ratio: 1/1;

}
.aspect-ratio2{
    aspect-ratio: 16/9;
}
.hassu-grid2 img{
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text_color_white{
    color: #F6FAF0;
}
p{
    margin: 0;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.cover{
    object-fit: cover;
}
.padding{
    padding: 2rem;
}
.margin{
    margin: 2rem;
}
.text-white{
    color: white;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
  }

.row>img{
    padding: 0;
}
.max-screen{
    max-height: 100vh;
    max-width: 100vw;
}
.carousel-item{
    height:90vh;
    width: 100vw;
    background-color: #022C0F;
    color: #F6FAF0;
    position: relative;
    
    
    
}
.container{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    padding-bottom: 2rem;
}
.overlay-image{
    background-size: cover;
    opacity: 0.7;
}
